<%= form_for @item, :html => {:multipart => true} do |f| %>
  <p><div class="field">
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </div></p>
  <p><div class="field">
    <%= f.label :quantity %><br/>
    <%= f.number_field :quantity %>
  </div></p>
  <p><div class="field">
    <%= f.label :item_image, "Upload Image" %><br/>
    <%= f.file_field :item_image %>
  </div></p>
  <p><div class="field">
    <%= f.label :item_image_url, "Image URL" %><br/>
    <%= f.text_field :item_image_url %>
  </div></p>
  <p><div class="field">
    <%= f.label :remove_item_image, "Remove Image" %><br/>
    <%= f.check_box :remove_item_image %>
  <p><div class="field">
    Image Preview
    <%= image_tag @item.item_image.thumb('100x100').url if @item.item_image_uid %><br/>
  </div></p>
  <%= f.submit %>
  <%= f.hidden_field :retained_item_image %>
<% end %>
