<h1><%= @item.description %></h1>
<p>I need <%= @item.quantity %></p>
<%= image_tag @item.item_image.thumb('x300').url %>
<p><%= link_to "Home", root_path %></p>
<p><%= link_to "Edit", edit_item_path %></p>
